/* Reset CSS */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
width: 100%;
height: 100%;
overflow: hidden;
background-color: black;
}

/* Video container full screen */
.video-container {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
  z-index: -1; /* di belakang elemen lain */
}

/* Video responsive */
video#weddingVideo {
width: 100%;
height: 100%;
object-fit: cover; /* or use contain if prefer */
}
